/*
 * Global style
 */

body{
    
    margin: 0;
    padding: 0;
    font: 14px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #484848;
 }
/*container*/
 .container{
    margin: 30px auto;
    max-width: 1000px;
 }

 /*strong*/
 strong {
   font-weight: bold;
 }
