/*
 * Places class style
 */

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid #ff5a5f;
}

.places h1 {
        margin: .67em 0 .67em 0; /*unit of mesure like px rem and so on*/
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	
}	
.places h2 {
	font-size: 30px ;
	font-weight: bold;
	text-align: center;
}
